html {
    font-family:sans-serif;
}
header, footer {
    text-align:center;
}

#center{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color:beige;
}

#nav{
    background-color:lightgray;
}

a{
    color: black;
    font-weight: normal;
    text-decoration: underline;
}

a:hover{
    font-weight: bold;
}

a:link{
    color: black;
}

a:visited{
    color: red;
}

a:active{
    text-decoration: none;
}
