body{
    text-align:center;
    font-family:sans-serif;
    font-size:10px;
}
div{
    position:relative;
    margin:auto;
    top:0px;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    /* only using the border to debug
    border: 2px solid black;
    */
}
#cover_image{
    background: url("../Images/StarTurtleCover.jpg") no-repeat;
    background-size:100% 100%;
    width: 300px;
    height: 300px;
    display:block;
    border:2px solid black; 
}
a {
    font-size: 14px;
    text-decoration: none;
    color: blue;
    background-color: transparent;
}    
a:hover {
    text-decoration: underline;
    color: hotpink;
    background-color: greenyellow;
}
h1,h2,h3,h4,h5,h6 {
    color:blue;
}
table {
    width:100%;
    margin:auto;
    text-align: center;
    /* border handled by Bootstrap
    border: 1px solid black;
    border-collapse: collapse;*/
}
td{
    /* background handled by Bootstrap
    background-color:whitesmoke;*/
    font-style: italic;
    /* border handled by Bootstrap
    border: 1px solid black;*/
}
th{
    background-color:gray;
    font-style: normal;
    /* border handled by Bootstrap
    border: 1px solid black;*/
} 
